@import "tailwindcss";

:root {
  --clr-background: linear-gradient(
    135deg,
    #01001d 0%,
    #190e37 33%,
    #000000 100%
  );
  --font-syne: "Syne", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-syne);
  background: var(--clr-background);
  background-attachment: fixed;
  color: #f5f5f5;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
